<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <nav>
 <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikipedia-logo-en-big.png">
 <ul class="right-nav">
   <li><a href="/">Home</a></li>
   <li><a href = "/articles">Back to Articles</a></li>
   <l1><a href = "/articles/?category=1">Category 1 Articles</a></li>
  <l1><a href = "/articles/?category=2">Category 2 Articles</a></li>
    <l1><a href = "/articles/?category=3">Category 3 Articles</a></li>
   <% if (currentUser) { %>
     <li><a href="/articles/new">Create an article</a></li>
     <form action="/session/?_method=DELETE"
        method="post">
        <input id = "delete" type="submit" value="Log Out">
      </form>
   <% } else { %>
     <li><a href="/login">Log in / Sign Up</a></li>
   <% } %>
 </ul>
</nav>
    <h1>All Articles</h1>
      <% articles.forEach(function (article, i) { %>
      <div class = "article">
      <h3><%= article.title %></h3>
      <h5><%= article.body %></h5>
      <p>Tag: <%= article.category %></p>
      <p>Last edited on <%= article.date %></p>
      <% if (currentUser) { %>
      <button class = "edit"><a href = "/articles/<%= article._id %>/edit">Edit</a></button>
       <% } %>
        <% }) %>
  </body>
</html>
