<h1>All Articles by <%= author %></h1>
<% for (var i= articles.length-1; i>=0; i--) { %>
  <div class="card">
  <div class="card-content">
  <% if (currentUser && articles[i].approved[articles[i].approved.length-1].status == false && articles[i].approved[articles[i].approved.length-1].voted.indexOf(currentUser.username) == -1) { %>
          <p class="question">Should most recent edits be approved?</p>
           <button type="button" class="voteyes"><a class="votelink" href = "/articles/<%= articles[i]._id %>/yes">Yes</a></button>
           <button type="button" class="voteno"><a class="votelink" href = "/articles/<%= articles[i]._id %>/no">No</a></button>
           <hr>
      <% } %>
   <span class="card-title grey-text text-darken-4"><%= articles[i].title %>. Originally by: <a class="authorname" href="/articles/?username=<%=articles[i].author[0]%> "><%=articles[i].author[0]%></a></span>
   <h6 class="lastedited">Last edited on <%= articles[i].date[articles[i].date.length-1] %> by <%= articles[i].author[articles[i].author.length-1] %></h6>
   <% if (articles[i].approved[articles[i].approved.length-1].status == false) { %>
     <div>
       <h5>Suggested Edits</h5>
       <div class="body2"><%= articles[i].body[articles[i].body.length-1] %></div>
     </div>
     <div>
       <h5>Old Version</h5>
       <div class="body"><%= articles[i].body[articles[i].body.length-2] %></div>
     </div>
   <% } %>

   <% if (articles[i].approved[articles[i].approved.length-1].status == true) { %>
     <div class="body"><%= articles[i].body[articles[i].body.length-1] %></div>
   <% } %>

   <% if (currentUser) { %>
   </br>
  <form class="commentform" action="/articles/<%= articles[i]._id %>/edit" method="post">
    <input class="commentinput" type="text" name="comment"/>
    <input class="submit" type="submit" class="btn btn-primary" value="Comment"/>
  </form>

  <%  if (articles[i].approved[articles[i].approved.length-1].status == true) { %>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/articles/<%= articles[i]._id %>/edit"><i class="material-icons">Edit</i></a>
  <% }  %>
   <% } %>
   <% if (articles[i].comments.length <= 5) { %>
     <div class="comments">
       <h6>Comments</h6>
        <% for (var j=articles[i].comments.length-1; j>=0; j--) { %>
          <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
          <% } %>
        </div>
   <% } %>
   <% if (articles[i].comments.length > 5) { %>
     <div class="comments">
        <% for (var j=articles[i].comments.length-1; j>=articles[i].comments.length-5; j--) { %>
          <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
          <% } %>
        </div>
  </div>
  <span class="activator grey-text text-darken-4"><i class="material-icons viewmore">View More Comments...</i></span>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <% for (var j=articles[i].comments.length-6; j>=0; j--) { %>
          <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
        <% } %>
      <% } %>
  </div>
</div>
<% } %>
