<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <nav>
 <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikipedia-logo-en-big.png">
 <ul class="right-nav">
   <li><a href="/">Home</a></li>
   <li><a href = "/articles">Back to Articles</a></li>
   <l1><a href = "/articles/?category=1">Category 1 Articles</a></li>
  <l1><a href = "/articles/?category=2">Category 2 Articles</a></li>
  <l1><a href = "/articles/?category=3">Category 3 Articles</a></li>
   <% if (currentUser) { %>
     <li><a href="/articles/new">Create an article</a></li>
     <form action="/session/?_method=DELETE"
        method="post">
        <input id = "delete" type="submit" value="Log Out">
      </form>
   <% } else { %>
     <li><a href="/login">Log in / Sign Up</a></li>
   <% } %>
 </ul>
</nav>
<% for (var i= articles.length-1; i>=0; i--) { %>
  <div class = "article">
  <h3><%= articles[i].title %></h3>
  <h4>By: <a class = "authorname" href = "/articles/?username=<%=articles[i].author%> "><%=articles[i].author%></a></h4>
  <h5><%= articles[i].body %></h5>
  <p>Last edited on <%= articles[i].date %></p>
  <p>Tag: <%= articles[i].category %></p>
  <% if (currentUser) { %>
  <button class = "edit"><a class = "editlink" href = "/articles/<%= articles[i]._id %>/edit">Edit</a></button>
  <form action="/articles/<%= articles[i]._id %>/edit" method="post">
    <input type="text" name="comment"/>
    <input class="submit" type="submit" class="btn btn-primary" value = "Comment"/>
  </form>
     <% } %>
     <h5>Comments</h5>
     <% if (articles[i].comments.length <= 3) { %>
       <div>
          <% for (var j=articles[i].comments.length-1; j>=0; j--) { %>
            <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
            <% } %>
          </div>
     <% } %>
     <% if (articles[i].comments.length > 3) { %>
     <div>
     <% for (var j=articles[i].comments.length-1; j>articles[i].comments.length-4; j--) { %>
         <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
       <% } %>
     </div>
     <button class = "unloadedbutton">Load More Comments...</button>
     <div class = "unloaded">
       <% for (var j=articles[i].comments.length-4; j>=0; j--) { %>
           <p><%= articles[i].comments[j].author %>: <%= articles[i].comments[j].body %> on <%= articles[i].comments[j].date %></p>
         <% } %>
     </div>
      <% } %>
     </div>
      <% } %>
    </div>
</body>
</html>
