
    <form class="createnew" action="/articles/<%= article._id %>?_method=PATCH" method="post">
      <h3><%= article.title %></h3>
      <input class="hidden" type="text" name="article[title]" value="<%= article.title %>"/>
      <br>
      <textarea id="articlebody"
             class = "articlebody"
             rows = "20"
             cols = "30"
             name="article[body]"><%= article.body[article.body.length-1] %></textarea>
             <br><br>

    <input class="hidden" type="text" name="article[author]" value="<%= article.author%>"/>
    <input class="hidden" type="text" name="article[category]" value="<%= article.category%>"/>

    <br><br>
      <input class="submit" type="submit" class="btn btn-primary"/></br></br>
       <a href="/articles" class="btn-floating btn-med waves-effect waves-light grey">Back</a>
    </form>


    <!-- <form class="createnew" action="/articles" method="post">
        <h4> Create New Article </h4>
        <label for="articletitle">Title</label>
        <input id="articletitle"
               type="text"
               class = "form-control"
               name="article[title]"/>
        <br>
        <label> By : <%= locals.currentUser.username %> </label>
        <br><br>
        <input class="hidden" type="text" name="article[author]" value="<%= locals.currentUser.username %>"/>
          <input class="hidden" type="text" name="article[comments]" value="[]"/>
        <label for="articlebody">Article Body</label>
        <br>
        <textarea id="articlebody"
               class = "form-control" "articlebody"
               rows = "10"
               cols = "30"
               name="article[body]"></textarea>
               <br>
        <label for="articlecategory">Category</label>
        <select id = "articlecategory" name="article[category]" class = "form-control">
        <option value="workplacebehavior">Workplace Behavior</option>
        <option value="extracurricularactivities">Extracurricular Activities</option>
        <option value="companyhistory">Company History</option>
      </select>

      <br><br>
        <input type="submit" class="submit btn waves-effect waves-light"/></br></br>
         <a href="./" class="btn-floating btn-med waves-effect waves-light grey">Back</a>
      </form> -->
