
    <form class="createnew" action="/articles/<%= article._id %>?_method=PATCH" method="post">
      <h3><%= article.title %></h3>
      <input class="hidden" type="text" name="article[title]" value="<%= article.title %>"/>
      <br>
      <textarea id="articlebody"
             class = "articlebody"
             rows = "20"
             cols = "30"
             name="article[body]"><%= article.body[article.body.length-1] %></textarea>
             <br><br>

    <input class="hidden" type="text" name="article[author]" value="<%= article.author%>"/>
    <input class="hidden" type="text" name="article[category]" value="<%= article.category%>"/>

    <br><br>
      <input class="submit" type="submit" class="btn btn-primary"/></br></br>
       <a href="/articles" class="btn-floating btn-med waves-effect waves-light grey">Back</a>
    </form>
