<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,300italic' rel='stylesheet' type='text/css'>
    <title>home</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <ul class="nav nav-pills">
      <li><a href="/articles">View all Articles</a></li>
      <% if (currentUser) { %>
       <li><a href="/articles/new">Create an article</a></li>
       <li><form class = "logout" action="/session/?_method=DELETE"
           method="post">
           <input id = "delete" type="submit" value="Log Out">
         </form></li>
      <% } else { %>
     <li><a href="/login">Log in / Sign Up</a></li>
      <% } %>
    </div>
    </nav>
    <% if (locals.currentUser) {%>
      <% console.log(currentUser.username) %>
      <h4 id="welcome">Welcome <%= locals.currentUser.username %></h4>
      <% } %>
    </br>
   <h1> Featured Article </h1>
    <div class = ".col-md-2" id = "article">
      <% if (articles.length >0) { %>
      <% chosen = (Math.floor(Math.random()*articles.length)) %>
      <h2><%= articles[chosen].title %><small> Originally by: <a class = "authorname" href = "/articles/?username=<%=articles[chosen].author[0]%> "><%=articles[chosen].author[0]%></a></small></h2>
      <h5>Last edited on <%= articles[chosen].date[articles[chosen].date.length-1] %> by <%= articles[chosen].author[articles[chosen].author.length-1] %></h5>
      <h5 id = "body"><%= articles[chosen].body[articles[chosen].body.length-1] %></h5>
      <% } %>
    </div>
  </body>
</html>
