   <h3> Featured Article </h3>
   <div class="card">
     <div class="card-content">
      <% if (articles.length >0) { %>
      <% chosen = (Math.floor(Math.random()*articles.length)) %>
      <span class="card-title activator grey-text text-darken-4"><%= articles[chosen].title %>. Originally by: <a class="authorname" href="/articles/?username=<%=articles[chosen].author[0]%> "><%=articles[chosen].author[0]%></a></span>
      <h6 class="lastedited">Last edited on <%= articles[chosen].date[articles[chosen].date.length-1] %> by <%= articles[chosen].author[articles[chosen].author.length-1] %></h6>
      <div class="body"><%= articles[chosen].body[articles[chosen].body.length-1] %></div>
      <% } %>
    </div>
  </div>
  <div class="row">
  <h3> Company Announcements </h3>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="http://www.socialagent.me/wp-content/uploads/2014/04/job-icon.png">
      </div>
      <div class="card-content">
        <p>We just added over 20 new jobs to our site! Feel free to send recommendations
        to our HR department.</p>
      </div>
      <div class="card-action">
        <a href="#">Careers</a>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="http://www.seeklogo.net/wp-content/uploads/2015/07/instagram-flat-icon-circle-image.png">
      </div>
      <div class="card-content">
        <p>We just launched our new social media platform! Looking for contributions of pictures or blurbs.</p>
      </div>
      <div class="card-action">
        <a href="#">Social Media</a>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="http://www.clipartbest.com/cliparts/yco/ejr/ycoejrKMi.png">
      </div>
      <div class="card-content">
        <p>Our company wide retreat is set for Thursday, November 5 to EOD Friday, November
        6. Looking forward to it!</p>
      </div>
      <div class="card-action">
        <a href="#">Location Details</a>
      </div>
    </div>
  </div>
</div>
